<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="my-page">
  
  
    <ion-card-header>
    <ion-card-title class="ion-text-center"><h1>MANISAN</h1><br>
    <h2>"Kenangan manis kita hanya tercipta hanya di MANISAN"</h2></ion-card-title>
    <br><br>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/background.jpg" />
  </ion-card-content>
  
 
</ion-content>