<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>MANISAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-page">
  <div id="container">
    <ion-card>
      <ion-card-header style="background-color:rgb(230, 176, 221);">
        <br><br>
      <ion-card-title  class="ion-text-center"><h1>ABOUT MANISAN</h1></ion-card-title>
      <br><br>
    </ion-card-header>
    <ion-card-content>
      <br><br>
      <img src="assets/dessert.jpg"/>
      <br><br>
      <p>Welcome to our dessert website, where indulgence is always on the menu! We are passionate about creating the most delectable and delightful desserts that will satisfy your sweet tooth and leave you wanting more. Our selection of desserts is handcrafted with love and care, using only the finest ingredients, ensuring that every bite is a treat for your taste buds.

       <br> <br>We offer a wide variety of desserts, from classic favorites to new and innovative creations, all made fresh and ready to be delivered straight to your doorstep. Our desserts are perfect for any occasion, whether you're celebrating a special event, treating yourself after a long day, or simply indulging in your sweet cravings.
        
       <br> <br>At our dessert website, we strive to provide you with a seamless and enjoyable shopping experience. We offer easy online ordering, fast and reliable delivery, and excellent customer service. So, whether you're looking for a special treat for yourself or a gift for someone else, our desserts are sure to satisfy your sweet cravings and leave you wanting more.
        </p>
    </ion-card-content>
    </ion-card>
  </div>
</ion-content>