<ion-header >
  <ion-toolbar class="ion-text-center"  >
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/home" icon="arrow-back-outline" ></ion-back-button>
  </ion-buttons>
    <ion-title>VIDEO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-page">
  <ion-card>
<video

width="100%"
controls="controls"
preload="metadata"
autoplay="autoplay"
webkit-playsinline="webkit-playsinline"
class="videoPlayer">

<source src="assets/video dessert.mp4" type="video/mp4" />
</video>
</ion-card>
</ion-content>
